@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
.react-calendar__tile--active {
  background-color: #3b82f6 !important; /* Tailwind blue-500 */
  color: white !important;
  border-radius: 0.375rem; /* rounded-md */
}